/* Chrome, Safari, Edge, Opera */
::ng-deep input::-webkit-outer-spin-button,
::ng-deep input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
::ng-deep input[type=number]{
  -moz-appearance: textfield;
}

::ng-deep .btn {
  margin: 1px;
}